<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Some Website</title>
    <style>
      li {
        list-style-type: none ;
        padding :15px;
        font-weight: bolder;
        color: rgb(43, 46, 226)
      }
    </style>
  </head>
  <body>
    <h1>{{pageTitle}}</h1>
    <p>{{message}}</p>

    
<div>
   <ul>
{{#each price}}
    <li> سعر {{@key}}  الان = {{this}}</li>
{{/each}}
</ul>

   <ul>
{{#each price}}
    <li> سعر {{@key}}  الان = {{this}}</li>
{{/each}}
</ul>


</div>
   {{> footer}}
  </body>
  <script>
    document.body.innerHTML = document.body.innerHTML.replace('Bitcoin', 'بيتكوين');
    document.body.innerHTML = document.body.innerHTML.replace(/Ethereum/g, 'ايثريوم');
    document.body.innerHTML = document.body.innerHTML.replace(/Ripple/g, 'الربل');
    document.body.innerHTML = document.body.innerHTML.replace(/Bitcoin Cash/g, ' بيتكوين كاش');
    document.body.innerHTML = document.body.innerHTML.replace(/Litecoin/g, 'لايت كوين');
    document.body.innerHTML = document.body.innerHTML.replace('Cardano ', 'الكاردينيو');
    document.body.innerHTML = document.body.innerHTML.replace('NEO ', 'النيو');
    document.body.innerHTML = document.body.innerHTML.replace('Stellar ', 'الستيلار');
    document.body.innerHTML = document.body.innerHTML.replace('IOTA ', 'الايوتا');
    document.body.innerHTML = document.body.innerHTML.replace(/EOS/g, 'الاي او اس');

  </script>
</html>